    {{!< default}}
    <header class="site-header cover" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <section class="header-content">
            <a class="blog-title" href="/">{{@blog.title}}</a>
            <span class="blog-description">{{@blog.description}}</span>
            {{> links}}
        </section>
    </header>
    
    <main id="main" class="index" role="main">
        {{#foreach posts ~}}
        <article class="{{post_class}}">
            <h1 class="post-title"><a href="{{url}}">{{{title}}}</a></h1>
            <section class="post-content">{{content}}</section>
        </article>
        {{~/foreach}}
        {{pagination}}        
    </main>
    